* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b0f0e;
  color: #fff;
}

.header {
  text-align: center;
  padding: 1.2rem;
  font-size: 1.5rem;
}

.container {
  padding: 20px;
  padding-bottom: 100px;
}

.card {
  background: #0f766e;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.balance-card {
  text-align: center;
}

.card-row {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  text-align: center;
}

.mini {
  flex: 1;
  padding: 12px;
  border-radius: 12px;
}

.income {
  background: #15803d;
}
.expense {
  background: #b91c1c;
}

.section-title {
  margin: 20px 0 12px;
  font-size: 22px;
  font-weight: 600;
}

.date-chip {
  background: #052e2b;
  color: #5eead4;
  padding: 10px 14px;
  border-radius: 14px;
  width: fit-content;
  margin-bottom: 14px;
  font-size: 14px;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.transaction-card {
  background: #111827;
  border-radius: 18px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-card .left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.icon {
  width: 46px;
  height: 46px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.icon.shopping {
  background: #3f1d1d;
}
.icon.transport {
  background: #083344;
}
.icon.income {
  background: #14532d;
}
.icon.freelance {
  background: #312e81;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.sub {
  font-size: 13px;
  color: #9ca3af;
}

.amount {
  font-size: 16px;
  font-weight: 600;
}

.amount.expense {
  color: #e92c2c;
  background: none;
}

.amount.income {
  color: #22c55e;
  background: none;
}



.btn {
  background: #0f766e;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 12px;
}

.account-card {
  background: #111827;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 14px;
}

.success {
  color: #22c55e;
}
.danger {
  color: #ef4444;
}
.muted {
  color: #9ca3af;
}
